@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat&display=swap');

html,
body {
  font-family: 'Koulen', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.15;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: #444;
}

/* *,
*::before {
  outline: 2px solid red !important;
  opacity: 1 !important;
} */
